header{
	background: blue;
	height: 100px;
}
footer{
	background:green;
	height: 100px;
}
form{
	margin-left: 70px;
}
button{
	background: yellow;
	border-radius: 10px;
}
h2{
	text-align: left;
}